{% load static %}
<!doctype html>
<html lang="en">
  <head>
   
    <title>Hello, world!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
  </head>
  <body style="background-image: url('{% static 'images/lol.jpg' %}');">
    <h1><div class="alert alert-danger" role="alert">
     WEL-COME  TO MY DANGERS WORLD !
      </div></h1>

    
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <center>
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
        <h1>S</h1>
      </div>
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
        <H1>H</H1>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
        <H1>A</H1>
      </div>
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
        <H1>I</H1>
      </div>
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
        <H1>K</H1>
      </div>
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
        <H1>A</H1>
      </div>
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
        <H1>S</H1>
      </div>
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
        <H1>I</H1>
      </div>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
        <h1>F</h1>
      </div>
    </center>
  </body>
</html>